body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

h1 {
    color: #ff5500;
    margin-top: 20px;
}

p {
    color: #495057;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(5, 80px);
    gap: 5px;
    margin: 20px auto;
    justify-content: center;
}

.cell {
    width: 80px;
    height: 80px;
    background-color: #ffc107; /* Light is on */
    border: 1px solid #343a40;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cell.off {
    background-color: #000407; /* Light is off */
}

#reset-button {
    margin: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff5500;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#reset-button:hover {
    background-color: #0056b3;
}

footer {
    margin-top: 30px;
    padding: 30px;
    background: linear-gradient(to bottom right, #ffffff, #f7f7f7);
    color: #343a40;
    font-size: 16px;
    text-align: center;
    border-top: 4px solid #007bff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f1f1f1;
}

footer h1 {
    font-size: 32px;
    color: #ff5100;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

footer h2 {
    font-size: 24px;
    color: #343a40;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: capitalize;
}

footer p {
    margin-bottom: 20px;
    line-height: 1.7;
    font-size: 18px;
    color: #495057;
    font-weight: 300;
    text-align: justify;
}

footer p:last-child {
    margin-bottom: 0;
}

footer p > h1, footer p > h2 {
    margin: 10px 0;
    font-weight: bold;
}

footer p > h2 {
    font-size: 22px;
    color: #6c757d;
    text-transform: none;
}
footer p:hover {
    background-color: #e9ecef;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
